/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.App{
  color: black;
} */

/* .app {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: white;
  
}
 h2 {
  margin-left: 3em;
}
.cardAll {
  color: black;
}
.app-inside{
  display: flex;
  flex-direction: column;

}
.nav-add{
  position: fixed;
  top: 3em;
  right:5em
}


.auth-form-container {
  display: flex;
  flex-direction: column;
  background-color: hwb(223 94% 3%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  */
  /* height: 430px */


  /* background-image: linear-gradient(60deg, #f2f2f5, #a8bbf9 48%, #ecedf4); */
/* }

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 0.1px dashed rgb(247, 242, 242);
    border-radius: 10px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  background-color: rgba(224, 227, 245, 0.659);
} */

/* button {
  border: none;
  background-image: linear-gradient(79deg, #03062d, #050e2c 48%, #060a30);
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  color: #bfa2f0;
} */

/* .link-btn {
  background: none;
  color: rgb(122, 122, 242);
  text-decoration: none; 
}   */

