.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  /* background-color: black; */
  /* background-image: linear-gradient(60deg, #f2f2f5, #a8bbf9 48%, #ecedf4); */

  
  /* filter: blur(1px); */
}
h2 {
  margin-left: 3em;
}
.app-inside , .login-form{
  display: flex;
  flex-direction: column;
  color: black;
  /* width: 100; */
  /* align-items: center; */


}

.auth-form-container, .login-form {
  display: flex;
  flex-direction: column;
  background-color: hwb(223 94% 3%);
   /* position: fixed;
  top: 50%;
  left: 50%; */
  /*transform: translate(-50%, -50%); */
  /* height: 500px */


  /* background-image: linear-gradient(60deg, #f2f2f5, #a8bbf9 48%, #ecedf4); */
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 0.1px dashed rgb(247, 242, 242);
    border-radius: 10px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  background-color: rgba(224, 227, 245, 0.659);
}

/* button {
  border: none;
  background-image: linear-gradient(79deg, #03062d, #050e2c 48%, #060a30);
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  color: #bfa2f0;
} */

.link-btn {
  background: none;
  color: rgb(122, 122, 242);
  text-decoration: none;
}